<html>

<head>
<title>Análise Exploratória de Dados: Vendas em uma lanchonete</title>
<style>
  h1 {
    color: darkblue;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  h3{
    color: darkblue;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .info {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  .texto {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 16px;
  }
</style>
</head>

<body>

<h1>Análise Exploratória de Dados: Vendas em uma lanchonete</h1>

<div class="info">
  <p><strong>Autor:</strong> Thiago Yukio Horita Pacheco</p>
  <p><strong>Instituição:</strong> UNIVALI</p>
  <p><strong>Disciplina:</strong> Análise de Dados</p>
  <p><strong>Curso:</strong> Engenharia da Computação</p>
  <p><strong>Data:</strong> 25/02/2025</p>
</div>

<br>

</body>

<h3>Descrição</h3>
<div class="texto">
    <p>Dados obtidos pelo site Kaggle, site que disponibiliza diversas bases
    de dados. Esta base de dados se trata sobre vendas feitas por uma 
    lanchonete, que contém um dataset que está sujo. A faixa temporal é do ano
    de 2023.</p>
</div>

</html>